
:root {
  --bs-border-color: #6c757d;
  --bs-primary: #ff9601; 
  --bs-secondary: #ff4081; 
}

body {
  background-color: #eeeeee; 
  color: #333333; 
}

.navbar {
  background-color: #dfdfdf; 
}

.nav-link {
  color: #333333; 
  background-color: #eeeeee;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
  color: #ff007f; 
}

header {
  background-color: #dfdfdf;
  color: #333333; 
}

.wave-border {
  --s: 8px; /* size of the wave */
  --b: 4px; /* thickness of the line */
  --m: 0.8; /* curvature of the wave [0 2] */
  
  background: #dfdfdf;
  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2*var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
     calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
     50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}


.wave {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #dfdfdf, #dfdfdf);
  height: 50px;
  position: relative;
  margin-bottom: 20px;
  
  &::before,
  &::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  }
  
  &::before {
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #dfdfdf 13px);
  }

  &::after {
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #dfdfdf 12px, transparent 13px);
  }
  
  &--top {
    background: linear-gradient(to top, #dfdfdf, #dfdfdf);
    
    transform: translateY(20px);

    &::before,
    &::after {
      // to take place in top instead of bottom
      bottom: auto;
      top: 0;
    }
    
    &::before {
      background-image: radial-gradient(circle at 10px 15px, transparent 12px, #eeeeee 13px);
    }

  &::after {
    background-image: radial-gradient(circle at 10px 0, #eeeeee 12px, transparent 13px);
    }
  }
}

.wave-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #dfdfdf, #dfdfdf);
  height: 50px;
  position: relative;
  margin-bottom: 20px;
  
  &::before,
  &::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  }
  
  &::before {
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #eeeeee 13px);
  }

  &::after {
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #eeeeee 12px, transparent 13px);
  }
 
}

.btn-accent {
  background-color: #ff007f; 
  color: #333333;
}

.btn-accent:hover {
  background-color: #ff6f00; 
}

footer {
  background-color: #dfdfdf; 
  color: #333333; 
  font-weight: bolder;
}


.card {
  background-color: #f9f9f9;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #f9f9f9;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: none;
  border-radius: var(--bs-card-border-radius);
}

.svg-small {
  height: 80px;
}

.hidden {
  opacity: 0; 
  &:hover {
    opacity: 1;
  }
}

.line {
  border-bottom: 2px solid #333333;
  border-radius: 0.375rem; 
  width: 30%;
  margin-bottom: 12px;
}

.btn-primary {
  --bs-btn-color: #333333;
  --bs-btn-bg: #ff9601;
  --bs-btn-border-color: #ff9601;
  --bs-btn-hover-color: #333333;
  --bs-btn-hover-bg: #ff9601;
  --bs-btn-hover-border-color: #ff9601;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #333333;
  --bs-btn-active-bg: #ff9601;
  --bs-btn-active-border-color: #ff9601;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #333333;
  --bs-btn-disabled-bg: #ff9601;
  --bs-btn-disabled-border-color: #ff9601;
}



.secondary-background {
  background-color: #dfdfdf;
}



.document-section {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 0.375rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: #333;
    font-size: 2rem;
  }

  .document-content {
    margin-top: 1.5rem;
  }

  .document-section-item {
    margin-bottom: 1.5rem;

    h3 {
      font-size: 1.25rem;
      color: #444;
      margin-bottom: 0.5rem;
      border-bottom: 2px solid #888;
      padding-bottom: 0.5rem;
    }

    p {
      color: #666;
      font-size: 1rem;
      line-height: 1.6;
    }

    ul {
      list-style: disc inside;
      padding-left: 1rem;
      margin-top: 0.5rem;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }
}


.timeline {
  .timeline-item {

    .timeline-year {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 1rem;
      text-align: center;
      border-bottom: 2px solid #888;
      padding-bottom: 0.5rem;
    }

    .card {
      background-color: #f9f9f9;
      border: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}

.timeline-date {
  font-size: .8rem;
}